# The folder containing the dataset
speech_commands_v0.01/
speech_commands_v0.02/
compressed_feature/

# A python folder
__pycache__/

# The tensorflow example
speech_commands

# Configs files
speech_features/config.json
config.json
submit.job.*
